/* Practice Layout */

html, p {
	font-size: 16px;
}

body {
	color: #787878;
}

h3 {
	font-size: 1.5rem;
	margin: 0px;
}

/* Content */
.page-content {
	max-width: 1200px;
	margin: 0 auto;
}

/* Header */
.title {
	background-color: #e8e8e8;
	display: block;
	line-height: 1.5em;
	margin: 0;
	overflow: hidden;
	padding: 15px;
}
.title h1 {
	display: inline;
	font-size: 2.2em;
}
.title h4 {
	display: inline;
	font-size: 1.4em;
}

/* Menu */
.menu {
	background-color: #dcdcdc;
	height: 40px;
	line-height: 36px;
}
.menu ul {
	overflow: hidden;
}
.menu li:first-child {
	padding-left: 15px;
}
.menu ul li {
	float: left;
	padding: 4px 15px 4px 0px;
}
.menu a {
	display: block;
	text-decoration: none;
}
